# Code Base

----------------------

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

sm_df = pd.read_excel('../data/mmc2.xlsx')
mh_df = pd.read_csv('../data/mental_health2425v8in.csv')

let us check that the datasets have loaded in properly:

In [16]:
sm_df.head()

,Timestamp,"1. Do you have a social media account? (e.g., Facebook, Twitter, etc.)",2. Which social media account do you use usually?,3. Which device do you usually use to connect social media?,4. Which type of internet connection do you use?,5. How long have you been using a social media account?,6. How frequently do you post (upload status or add photos/videos) on social media?,7. How much time do you spend daily in social media?,8. When do you usually use social media?,9. How many friends do you have on social media?,...,"10. In last 30 days, How many times, I cough or snore loudly?","11. In last 30 days, How many times, I feel too cold?","12. In last 30 days, How many times, I feel too hot?","13. In last 30 days, How many times, I saw bad dreams?","14. In last 30 days, How many times, I have pain during sleep?","15. In last 30 days, How many times, I having trouble sleeping for any other reason?","16. In last 30 days, In last month, have you take medicines for sleep?","17. In last month, how many times you cannot sleep due to any program or other important case?","18. In last month, how many times you face problems to maintain program or other important case?","19. During the past month, how would you rate your sleep quality overall?"
0,2021-02-20 21:56:49.755,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,Less than 1 per day,1-3 hours,Frequently at anytime,Less than 500,...,Not during last month,Less then once a week,Not during last month,Not during last month,Not during last month,Less then once a week,Not during last month,Less then once a week,Less then once a week,Farely good
1,2021-02-20 23:32:52.030,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,3-5 per day,More than 5 hours,Frequently at anytime,500-2000,...,Less then once a week,Less then once a week,Three or more in week,Less then once a week,Not during last month,Not during last month,Less then once a week,Less then once a week,Less then once a week,Very bad
2,2021-02-16 21:03:59.071,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,Less than 1 per day,3-5 hours,Night to late night,Less than 500,...,Not during last month,Not during last month,Less then once a week,Less then once a week,Three or more in week,Three or more in week,Not during last month,Three or more in week,Once or twice a week,Very bad
3,2021-03-01 10:03:23.049,Yes,Twitter,Mobile Phone,Mobile data,Less than 2-year,Less than 1 per day,3-5 hours,Frequently at anytime,500-2000,...,Not during last month,Not during last month,Not during last month,Not during last month,Not during last month,Not during last month,Not during last month,Not during last month,Not during last month,Farely good
4,2021-02-27 19:27:54.278,Yes,Twitter,Mobile Phone,Broadband (Wi-Fi),Less than 2-year,More than 5 per day,More than 5 hours,Night to late night,2000-4000,...,Not during last month,Not during last month,Not during last month,Not during last month,Less then once a week,Less then once a week,Less then once a week,Less then once a week,Less then once a week,Farely good

In [17]:
mh_df.head()

,year_1,state_1,general_health,phq9_1,phq9_2,phq9_3,phq9_4,phq9_5,phq9_6,phq9_7,...,acha_12months_any_comp,sex,fulltime,international,race_1,race_2,race_3,race_4,race_5,race_6
0,2000,MD,Very Good,Several days,Several days,Not at all,Several days,Not at all,Not at all,More than half of the days,...,2,Female,Yes,No,NaN,NaN,NaN,Asian or Pacific Islander,NaN,NaN
1,2001,SC,Good,More than half of the days,More than half of the days,Nearly every day,Nearly every day,Nearly every day,Several days,Nearly every day,...,0,Female,Yes,No,NaN,NaN,NaN,Asian or Pacific Islander,NaN,NaN
2,1999,NJ,Good,Several days,Several days,More than half of the days,More than half of the days,Several days,Several days,Several days,...,2,Female,Yes,No,NaN,NaN,Hispanic or Latino,Asian or Pacific Islander,NaN,NaN
3,1998,NY,Good,Several days,Several days,Nearly every day,Nearly every day,Not at all,Several days,Several days,...,2,Female,Yes,No,White - not Hispanic (includes Middle Eastern),NaN,NaN,NaN,NaN,NaN
4,2000,PA,Very Good,Not at all,Several days,Several days,Several days,Several days,Several days,Several days,...,5,Female,Yes,No,White - not Hispanic (includes Middle Eastern),NaN,NaN,NaN,NaN,NaN

we can confirm that they are loaded in properly, let us get rid of columns that we know we don't need.

The sm_df we will be using solely for social media information, so we will be getting rid of any unrelated columns.

In [18]:
sm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 76 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   Timestamp                                                                                                               791 non-null    datetime64[ns]
 1   1. Do you have a social media account? (e.g., Facebook, Twitter, etc.)                                                  791 non-null    object
 2   2. Which social media account do you use usually?                                                                       791 non-null    object
 3   3. Which device do you usually use to connect social media?                                                             791 non-null    object
 4   4. Which type of internet connection do you use?                                                                        791 non-null    object
 5   5. How long have you been using a social media account?                                                                 791 non-null    object
 6   6. How frequently do you post (upload status or add photos/videos) on social media?                                     791 non-null    object
 7   7. How much time do you spend daily in social media?                                                                    791 non-null    object
 8   8. When do you usually use social media?                                                                                791 non-null    object
 9   9. How many friends do you have on social media?                                                                        791 non-null    object
 10  10. How many friends do you know personally in social media?                                                            791 non-null    object
 11  11. How many groups you are tagged in social media?                                                                     791 non-null    object
 12  12. What is your main purpose for using social media (e.g. Facebook)?                                                   791 non-null    object
 13  13. What contents do you mainly look for in your social media news feed?                                                791 non-null    object
 14  14.Do you believe social media is a good thing?                                                                         791 non-null    object
 15  15. When you see something in social media, do you instantly believe it?                                                791 non-null    object
 16  16. Have you ever experienced peer pressure due to social media?                                                        791 non-null    object
 17  17. Does your emotion get influenced by other's posts (success, failure, loss)?                                         791 non-null    object
 18  18. Have you ever compared yourself with otherâ€™s success or luxurious life?                                             791 non-null    object
 19  19. Do you think, your mental wellbeing would be better if you do not use social media?                                 791 non-null    object
 20  20. If answer is yes, are you trying to control that thing and trying to reduce the use of social media?                791 non-null    object
 21  21. Please write your age in years (number).                                                                            791 non-null    float64
 22  22. Gender                                                                                                              791 non-null    object
 23  23. Marital Status                                                                                                      791 non-null    object
 24  24. Religion                                                                                                            790 non-null    object
 25  25. Education                                                                                                           789 non-null    object
 26  26. Profession                                                                                                          791 non-null    object
 27  27. Monthly income                                                                                                      791 non-null    object
 28  28. Area of residence                                                                                                   791 non-null    object
 29  29. Living with-                                                                                                        791 non-null    object
 30  30. Body weight (Kg)                                                                                                    791 non-null    float64
 31  31. Height (m)                                                                                                          791 non-null    float64
 32  32. Smoking habit                                                                                                       791 non-null    object
 33  1. In the past 30 days, do you feel lack of companionship?                                                              791 non-null    object
 34  2. In the past 30 days, there is no one I can turn to                                                                   791 non-null    object
 35  3. In the past 30 days, I feel left out.                                                                                791 non-null    object
 36  4. In the last 30 days, I feel isolated from others.                                                                    791 non-null    object
 37  5. In the last 30 days, I am unhappy being so withdrawn.                                                                791 non-null    object
 38  6. In the last 30 days, people are around me but not with me.                                                           791 non-null    object
 39  7. In the last 30 days, I am an outgoing person.                                                                        791 non-null    object
 40  8. In the last 30 days, I can find companionship when I want it.                                                        791 non-null    object
 41  1 In the last 30 days, little interest or pleasure in doing things.                                                     791 non-null    object
 42  2. In the last 30 days, feeling down, depressed or hopeless.                                                            791 non-null    object
 43  3. In the last 30 days, trouble falling or staying asleep, sleeping too much                                            791 non-null    object
 44  4. In the last 30 days, Feeling tired or having little energy.                                                          791 non-null    object
 45  5. In the last 30 days, poor appetite or over-eating.                                                                   791 non-null    object
 46  6. In the last 30 days, feeling bad about yourself-or that you are a failure or have let yourself or your family down.  791 non-null    object
 47  7. In the last 30 days, trouble concentrating on things, such as reading the newspaper or watching television.          791 non-null    object
 48  8. In the last 30 days, moving or speaking so slowly or the opposite-moving around a lot more than usual.               791 non-null    object
 49  9. In the last 30 days, thoughts that you would be better off dead, or of hurting yourself.                             791 non-null    object
 50  1. In the last 30 days, I am feeling nervous, anxious, or on edge                                                       791 non-null    object
 51  2. In the last 30 days, I an not being able to stop or control worrying                                                 791 non-null    object
 52  3. In the last 30 days, I am worrying too much about different things.                                                  791 non-null    object
 53  4. In the last 30 days, I felt trouble in relaxing.                                                                     791 non-null    object
 54  5. In the last 30 days, I am being so restless that it's hard to sit still                                              791 non-null    object
 55  6. In the last 30 days, I becoming easily annoyed or irritable.                                                         791 non-null    object
 56  7. In the last 30 days, I am feeling afraid as if something awful might happen.                                         791 non-null    object
 57  1. When I am usually gone to bed?                                                                                       791 non-null    object
 58  2. How long (in minutes) has it taken you to fall asleep each night?                                                    791 non-null    object
 59  3. When have you usually gotten up in the morning?                                                                      791 non-null    object
 60  4. How many hours of actual sleep do you get at night?                                                                  791 non-null    object
 61  5.  How many hours were you in bed?                                                                                     791 non-null    object
 62  6. In last 30 days, How many times, I cannot get to sleep within 30 minutes?                                            791 non-null    object
 63  7. In last 30 days, How many times, I wake up in the middle of the night or early morning?                              791 non-null    object
 64  8. In last 30 days, How many times, I had to get up to use the bathroom?                                                791 non-null    object
 65  9. In last 30 days, How many times, I cannot breathe comfortably?                                                       791 non-null    object
 66  10. In last 30 days, How many times, I cough or snore loudly?                                                           791 non-null    object
 67  11. In last 30 days, How many times, I feel too cold?                                                                   791 non-null    object
 68  12. In last 30 days, How many times, I feel too hot?                                                                    791 non-null    object
 69  13. In last 30 days, How many times, I saw bad dreams?                                                                  791 non-null    object
 70  14. In last 30 days, How many times, I have pain during sleep?                                                          791 non-null    object
 71  15. In last 30 days, How many times, I having trouble sleeping for any other reason?                                    791 non-null    object
 72  16. In last 30 days, In last month, have you take medicines for sleep?                                                  791 non-null    object
 73  17. In last month, how many times you cannot sleep due to any program or other important case?                          791 non-null    object
 74  18. In last month, how many times you face problems to maintain program or other important case?                        791 non-null    object
 75  19. During the past month, how would you rate your sleep quality overall?                                               791 non-null    object
dtypes: datetime64[ns](1), float64(3), object(72)
memory usage: 469.8+ KB

In [19]:
keep_idx_sm = [1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,19,21,22]
sm_df = sm_df.iloc[:,keep_idx_sm]

sm_df.columns = sm_df.columns.str.replace(r'^\d+\.\s*', '', regex=True)
sm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 19 columns):
 #   Column                                                                               Non-Null Count  Dtype
---  ------                                                                               --------------  -----
 0   Do you have a social media account? (e.g., Facebook, Twitter, etc.)                  791 non-null    object
 1   Which social media account do you use usually?                                       791 non-null    object
 2   Which device do you usually use to connect social media?                             791 non-null    object
 3   Which type of internet connection do you use?                                        791 non-null    object
 4   How long have you been using a social media account?                                 791 non-null    object
 5   How frequently do you post (upload status or add photos/videos) on social media?     791 non-null    object
 6   How much time do you spend daily in social media?                                    791 non-null    object
 7   When do you usually use social media?                                                791 non-null    object
 8   How many friends do you have on social media?                                        791 non-null    object
 9   How many friends do you know personally in social media?                             791 non-null    object
 10  How many groups you are tagged in social media?                                      791 non-null    object
 11  What is your main purpose for using social media (e.g. Facebook)?                    791 non-null    object
 12  Do you believe social media is a good thing?                                         791 non-null    object
 13  When you see something in social media, do you instantly believe it?                 791 non-null    object
 14  Have you ever experienced peer pressure due to social media?                         791 non-null    object
 15  Does your emotion get influenced by other's posts (success, failure, loss)?          791 non-null    object
 16  Do you think, your mental wellbeing would be better if you do not use social media?  791 non-null    object
 17  Please write your age in years (number).                                             791 non-null    float64
 18  Gender                                                                               791 non-null    object
dtypes: float64(1), object(18)
memory usage: 117.5+ KB

In [20]:
index_name_mapping = {
    0: 'have_sns',
    1: 'usual_sns',
    2: 'sns_device',
    3: 'internet',
    4: 'sns_use_length',
    5: 'post_freq',
    6: 'sns_use_daily',
    7: 'sns_use_case',
    8: 'sns_friends',
    9: 'sns_personal',
    10: 'sns_tags',
    11: 'sns_content',
    12: 'sns_good',
    13: 'sns_believe',
    14: 'peer_pressure',
    15: 'sns_influence',
    16: 'sns_wellbeing',
    17: 'age',
    18: 'sex',
}

sm_df_renamed = sm_df.rename(columns={sm_df.columns[i]: new_name for i, new_name in index_name_mapping.items()})
sm_df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   have_sns        791 non-null    object
 1   usual_sns       791 non-null    object
 2   sns_device      791 non-null    object
 3   internet        791 non-null    object
 4   sns_use_length  791 non-null    object
 5   post_freq       791 non-null    object
 6   sns_use_daily   791 non-null    object
 7   sns_use_case    791 non-null    object
 8   sns_friends     791 non-null    object
 9   sns_personal    791 non-null    object
 10  sns_tags        791 non-null    object
 11  sns_content     791 non-null    object
 12  sns_good        791 non-null    object
 13  sns_believe     791 non-null    object
 14  peer_pressure   791 non-null    object
 15  sns_influence   791 non-null    object
 16  sns_wellbeing   791 non-null    object
 17  age             791 non-null    float64
 18  sex             791 non-null    object
dtypes: float64(1), object(18)
memory usage: 117.5+ KB

now we clean mh_df

In [21]:
mh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Columns: 118 entries, year_1 to race_6
dtypes: int64(49), object(69)
memory usage: 533.9+ KB

In [22]:
print(list(mh_df.columns))

['year_1', 'state_1', 'general_health', 'phq9_1', 'phq9_2', 'phq9_3', 'phq9_4', 'phq9_5', 'phq9_6', 'phq9_7', 'phq9_8', 'phq9_9', 'phq9_1NUM', 'phq9_2NUM', 'phq9_3NUM', 'phq9_4NUM', 'phq9_5NUM', 'phq9_6 NUM', 'phq9_7NUM', 'phq9_8NUM', 'phq9_9NUM', 'phq9_COMP', 'phq9_severity', 'gad7_1', 'gad7_2', 'gad7_3', 'gad7_4', 'gad7_5', 'gad7_6', 'gad7_7', 'gad7_1NUM', 'gad7_2NUM', 'gad7_3NUM', 'gad7_4NUM', 'gad7_5NUM', 'gad7_6NUM', 'gad7_7NUM', 'gad7_COMP', 'gad7_severity', 'acha_12months_times_1', 'acha_12months_times_2', 'acha_12months_times_3', 'acha_12months_times_4', 'acha_12months_times_5', 'acha_12months_times_6', 'acha_12months_times_7', 'acha_depression', 'acha_services_1', 'acha_services_2', 'acha_services_3', 'acha_12months_any_1', 'acha_12months_any_2', 'acha_12months_any_3', 'acha_12months_any_4', 'acha_12months_any_5', 'acha_12months_any_6', 'acha_12months_any_7', 'acha_12months_any_8', 'acha_12months_any_9', 'acha_12months_any_10', 'acha_12months_any_11', 'acha_12months_any_12', 'acha_12months_any_13', 'acha_12months_any_14', 'acha_12months_any_15', 'acha_12months_any_16', 'acha_12months_any_17', 'acha_12months_any_18', 'acha_12months_any_19', 'acha_12months_any_20', 'acha_12months_any_21', 'acha_12months_any_22', 'acha_12months_any_23', 'acha_12months_any_24', 'acha_12months_any_25', 'acha_12months_any_26', 'acha_12months_any_27', 'acha_12months_any_28', 'acha_12months_any_29', 'acha_12months_any_1NUM', 'acha_12months_any_2NUM', 'acha_12months_any_3NUM', 'acha_12months_any_4NUM', 'acha_12months_any_5NUM', 'acha_12months_any_6NUM', 'acha_12months_any_7NUM', 'acha_12months_any_8NUM', 'acha_12months_any_9NUM', 'acha_12months_any_10NUM', 'acha_12months_any_11NUM', 'acha_12months_any_12NUM', 'acha_12months_any_13NUM', 'acha_12months_any_14NUM', 'acha_12months_any_15NUM', 'acha_12months_any_16NUM', 'acha_12months_any_17NUM', 'acha_12months_any_18NUM', 'acha_12months_any_19NUM', 'acha_12months_any_20NUM', 'acha_12months_any_21NUM', 'acha_12months_any_22NUM', 'acha_12months_any_23NUM', 'acha_12months_any_24NUM', 'acha_12months_any_25NUM', 'acha_12months_any_26NUM', 'acha_12months_any_27NUM', 'acha_12months_any_28NUM', 'acha_12months_any_29NUM', 'acha_12months_any_comp', 'sex', 'fulltime', 'international', 'race_1', 'race_2', 'race_3', 'race_4', 'race_5', 'race_6']

In [23]:
mh_df = mh_df.rename(columns={'year_1': 'age', 'state_1': 'state', 'phq9_COMP': 'phq_score', 'phq9_severity': 'phq_result', 'gad7_COMP': 'gad7_score', 'gad7_severity': 'gad7_result', 'acha_12months_times_1': 'hopeless', 'acha_12months_times_2': 'overwhelmed', 'acha_12months_times_3': 'exhausted', 'acha_12months_times_4': 'sad', 'acha_12months_times_5': 'rly_sad', 'acha_12months_times_6': 'considered', 'acha_12months_times_7': 'attempted', 'acha_depression': 'depression_diagnosis', 'acha_services_2': 'therapy', 'acha_services_3': 'depression_medication', 'fulltime': 'student'})

In [24]:
idx_to_drop = list(range(3,12)) + list(range(23,30)) + list(range(50,79)) + list(range(47,48))
mh_df_dropped = mh_df.drop(columns=[mh_df.columns[i] for i in idx_to_drop])

print(list(mh_df_dropped.columns))

['age', 'state', 'general_health', 'phq9_1NUM', 'phq9_2NUM', 'phq9_3NUM', 'phq9_4NUM', 'phq9_5NUM', 'phq9_6 NUM', 'phq9_7NUM', 'phq9_8NUM', 'phq9_9NUM', 'phq_score', 'phq_result', 'gad7_1NUM', 'gad7_2NUM', 'gad7_3NUM', 'gad7_4NUM', 'gad7_5NUM', 'gad7_6NUM', 'gad7_7NUM', 'gad7_score', 'gad7_result', 'hopeless', 'overwhelmed', 'exhausted', 'sad', 'rly_sad', 'considered', 'attempted', 'depression_diagnosis', 'therapy', 'depression_medication', 'acha_12months_any_1NUM', 'acha_12months_any_2NUM', 'acha_12months_any_3NUM', 'acha_12months_any_4NUM', 'acha_12months_any_5NUM', 'acha_12months_any_6NUM', 'acha_12months_any_7NUM', 'acha_12months_any_8NUM', 'acha_12months_any_9NUM', 'acha_12months_any_10NUM', 'acha_12months_any_11NUM', 'acha_12months_any_12NUM', 'acha_12months_any_13NUM', 'acha_12months_any_14NUM', 'acha_12months_any_15NUM', 'acha_12months_any_16NUM', 'acha_12months_any_17NUM', 'acha_12months_any_18NUM', 'acha_12months_any_19NUM', 'acha_12months_any_20NUM', 'acha_12months_any_21NUM', 'acha_12months_any_22NUM', 'acha_12months_any_23NUM', 'acha_12months_any_24NUM', 'acha_12months_any_25NUM', 'acha_12months_any_26NUM', 'acha_12months_any_27NUM', 'acha_12months_any_28NUM', 'acha_12months_any_29NUM', 'acha_12months_any_comp', 'sex', 'student', 'international', 'race_1', 'race_2', 'race_3', 'race_4', 'race_5', 'race_6']

In [25]:
mh_df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 72 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      579 non-null    int64
 1   state                    579 non-null    object
 2   general_health           579 non-null    object
 3   phq9_1NUM                579 non-null    int64
 4   phq9_2NUM                579 non-null    int64
 5   phq9_3NUM                579 non-null    int64
 6   phq9_4NUM                579 non-null    int64
 7   phq9_5NUM                579 non-null    int64
 8   phq9_6 NUM               579 non-null    int64
 9   phq9_7NUM                579 non-null    int64
 10  phq9_8NUM                579 non-null    int64
 11  phq9_9NUM                579 non-null    int64
 12  phq_score                579 non-null    int64
 13  phq_result               579 non-null    object
 14  gad7_1NUM                579 non-null    int64
 15  gad7_2NUM                579 non-null    int64
 16  gad7_3NUM                579 non-null    int64
 17  gad7_4NUM                579 non-null    int64
 18  gad7_5NUM                579 non-null    int64
 19  gad7_6NUM                579 non-null    int64
 20  gad7_7NUM                579 non-null    int64
 21  gad7_score               579 non-null    int64
 22  gad7_result              579 non-null    object
 23  hopeless                 579 non-null    object
 24  overwhelmed              579 non-null    object
 25  exhausted                579 non-null    object
 26  sad                      579 non-null    object
 27  rly_sad                  579 non-null    object
 28  considered               579 non-null    object
 29  attempted                579 non-null    object
 30  depression_diagnosis     579 non-null    object
 31  therapy                  394 non-null    object
 32  depression_medication    395 non-null    object
 33  acha_12months_any_1NUM   579 non-null    int64
 34  acha_12months_any_2NUM   579 non-null    int64
 35  acha_12months_any_3NUM   579 non-null    int64
 36  acha_12months_any_4NUM   579 non-null    int64
 37  acha_12months_any_5NUM   579 non-null    int64
 38  acha_12months_any_6NUM   579 non-null    int64
 39  acha_12months_any_7NUM   579 non-null    int64
 40  acha_12months_any_8NUM   579 non-null    int64
 41  acha_12months_any_9NUM   579 non-null    int64
 42  acha_12months_any_10NUM  579 non-null    int64
 43  acha_12months_any_11NUM  579 non-null    int64
 44  acha_12months_any_12NUM  579 non-null    int64
 45  acha_12months_any_13NUM  579 non-null    int64
 46  acha_12months_any_14NUM  579 non-null    int64
 47  acha_12months_any_15NUM  579 non-null    int64
 48  acha_12months_any_16NUM  579 non-null    int64
 49  acha_12months_any_17NUM  579 non-null    int64
 50  acha_12months_any_18NUM  579 non-null    int64
 51  acha_12months_any_19NUM  579 non-null    int64
 52  acha_12months_any_20NUM  579 non-null    int64
 53  acha_12months_any_21NUM  579 non-null    int64
 54  acha_12months_any_22NUM  579 non-null    int64
 55  acha_12months_any_23NUM  579 non-null    int64
 56  acha_12months_any_24NUM  579 non-null    int64
 57  acha_12months_any_25NUM  579 non-null    int64
 58  acha_12months_any_26NUM  579 non-null    int64
 59  acha_12months_any_27NUM  579 non-null    int64
 60  acha_12months_any_28NUM  579 non-null    int64
 61  acha_12months_any_29NUM  579 non-null    int64
 62  acha_12months_any_comp   579 non-null    int64
 63  sex                      579 non-null    object
 64  student                  579 non-null    object
 65  international            578 non-null    object
 66  race_1                   368 non-null    object
 67  race_2                   55 non-null     object
 68  race_3                   72 non-null     object
 69  race_4                   121 non-null    object
 70  race_5                   9 non-null      object
 71  race_6                   4 non-null      object
dtypes: int64(49), object(23)
memory usage: 325.8+ KB

In [26]:
idx_to_drop = list(range(1,2)) + list(range(3,12)) + list(range(14,21)) + list(range(33,62)) + list(range(65,66))

mh_df_reduced = mh_df_dropped.drop(columns=[mh_df_dropped.columns[i] for i in idx_to_drop])

mh_df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     579 non-null    int64
 1   general_health          579 non-null    object
 2   phq_score               579 non-null    int64
 3   phq_result              579 non-null    object
 4   gad7_score              579 non-null    int64
 5   gad7_result             579 non-null    object
 6   hopeless                579 non-null    object
 7   overwhelmed             579 non-null    object
 8   exhausted               579 non-null    object
 9   sad                     579 non-null    object
 10  rly_sad                 579 non-null    object
 11  considered              579 non-null    object
 12  attempted               579 non-null    object
 13  depression_diagnosis    579 non-null    object
 14  therapy                 394 non-null    object
 15  depression_medication   395 non-null    object
 16  acha_12months_any_comp  579 non-null    int64
 17  sex                     579 non-null    object
 18  student                 579 non-null    object
 19  race_1                  368 non-null    object
 20  race_2                  55 non-null     object
 21  race_3                  72 non-null     object
 22  race_4                  121 non-null    object
 23  race_5                  9 non-null      object
 24  race_6                  4 non-null      object
dtypes: int64(4), object(21)
memory usage: 113.2+ KB

In [27]:
mh_df_reduced['age'] = 2022 - mh_df_reduced['age']
mh_df_reduced['age'].min()

np.int64(19)

In [28]:
for col in mh_df_reduced.columns[19:26]:  
    mh_df_reduced[col] = mh_df_reduced[col].notna().astype(int)

mh_df_reduced.head()

,age,general_health,phq_score,phq_result,gad7_score,gad7_result,hopeless,overwhelmed,exhausted,sad,...,depression_medication,acha_12months_any_comp,sex,student,race_1,race_2,race_3,race_4,race_5,race_6
0,22,Very Good,6,Mild depression,0,minimal anxiety,Never,11 or more times,5-6 times,3-4 times,...,NaN,2,Female,Yes,0,0,0,1,0,0
1,21,Good,19,Moderately severe depression,4,minimal anxiety,1-2 times,5-6 times,7-8 times,1-2 times,...,No,0,Female,Yes,0,0,0,1,0,0
2,23,Good,10,Moderate depression,9,mild anxiety,7-8 times,11 or more times,11 or more times,9-10 times,...,NaN,2,Female,Yes,0,0,1,1,0,0
3,24,Good,11,Moderate depression,10,moderate anxiety,9-10 times,9-10 times,7-8 times,11 or more times,...,NaN,2,Female,Yes,1,0,0,0,0,0
4,22,Very Good,6,Mild depression,18,severe anxiety,7-8 times,3-4 times,9-10 times,11 or more times,...,NaN,5,Female,Yes,1,0,0,0,0,0

In [29]:
mh_df_reduced['therapy'] = mh_df_reduced['therapy'].fillna('No')
mh_df_reduced['depression_medication'] = mh_df_reduced['depression_medication'].fillna('No')

In [30]:
mh_df_reduced.isna().sum()

age                       0
general_health            0
phq_score                 0
phq_result                0
gad7_score                0
gad7_result               0
hopeless                  0
overwhelmed               0
exhausted                 0
sad                       0
rly_sad                   0
considered                0
attempted                 0
depression_diagnosis      0
therapy                   0
depression_medication     0
acha_12months_any_comp    0
sex                       0
student                   0
race_1                    0
race_2                    0
race_3                    0
race_4                    0
race_5                    0
race_6                    0
dtype: int64

In [31]:
sm_df_renamed.isna().sum()

have_sns          0
usual_sns         0
sns_device        0
internet          0
sns_use_length    0
post_freq         0
sns_use_daily     0
sns_use_case      0
sns_friends       0
sns_personal      0
sns_tags          0
sns_content       0
sns_good          0
sns_believe       0
peer_pressure     0
sns_influence     0
sns_wellbeing     0
age               0
sex               0
dtype: int64

these look fine, we should look at the numerical columns to see if everything is constant.

In [32]:
sm_df_renamed.describe()

                age
count  7.910000e+02
mean   3.417910e+09
std    9.606169e+10
min    1.400000e+01
25%    2.000000e+01
50%    2.500000e+01
75%    2.700000e+01
max    2.701710e+12

In [33]:
mh_df_reduced.describe()

,age,phq_score,gad7_score,acha_12months_any_comp,race_1,race_2,race_3,race_4,race_5,race_6
count,579.000000,579.000000,579.000000,579.00000,579.000000,579.000000,579.000000,579.000000,579.000000,579.000000
mean,23.601036,9.373057,8.324698,2.97582,0.635579,0.094991,0.124352,0.208981,0.015544,0.006908
std,5.403260,6.200711,5.685068,2.48374,0.481684,0.293457,0.330268,0.406932,0.123810,0.082901
min,19.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,4.000000,4.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,22.000000,9.000000,7.000000,3.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24.000000,13.000000,12.000000,4.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,51.000000,27.000000,21.000000,28.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

The age column for sm does not look right, and much larger than expected, let us filter out all rows with an age greater than reasonable or needed, e.g. 100

In [34]:
sm_df_renamed = sm_df_renamed[sm_df_renamed['age'] <= 100]

sm_df_renamed.describe()

              age
count  783.000000
mean    24.620434
std      6.391674
min     14.000000
25%     20.000000
50%     25.000000
75%     27.000000
max     65.000000

let us get rid of all rows with na in both datasets

In [35]:
sm_df_cleaned = sm_df_renamed.dropna()
mh_df_cleaned = mh_df_reduced.dropna()

We should also get rid of any ages that do not overlap between both dataframes

In [36]:
sm_df_cleaned = sm_df_cleaned.loc[sm_df_cleaned['age'].isin(mh_df_cleaned['age'])]
mh_df_cleaned = mh_df_cleaned.loc[mh_df_cleaned['age'].isin(sm_df_cleaned['age'])]

sm_df_cleaned.describe()

              age
count  619.000000
mean    25.504039
std      4.748827
min     19.000000
25%     23.000000
50%     25.000000
75%     27.000000
max     49.000000

In [37]:
mh_df_cleaned.describe()

,age,phq_score,gad7_score,acha_12months_any_comp,race_1,race_2,race_3,race_4,race_5,race_6
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,23.465278,9.404514,8.307292,2.965278,0.633681,0.095486,0.125000,0.210069,0.015625,0.006944
std,5.075997,6.194633,5.683326,2.485193,0.482217,0.294141,0.331006,0.407712,0.124127,0.083116
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,4.750000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,22.000000,9.000000,7.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24.000000,13.000000,12.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,49.000000,27.000000,21.000000,28.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

now we apply an ordinal encoder.

In [38]:
pd.set_option('display.max_colwidth', None)  # Prevent truncation of long values

mh_df_cleaned.apply(lambda col: col.unique())

age                          [22, 21, 23, 24, 26, 20, 19, 28, 34, 25, 30, 37, 31, 36, 35, 33, 27, 39, 43, 32, 38, 40, 48, 49, 42, 44]
general_health                                                                               [Very Good, Good, Excellent, Fair, Poor]
phq_score                      [6, 19, 10, 11, 5, 12, 7, 15, 3, 14, 0, 2, 16, 25, 13, 4, 18, 1, 9, 23, 8, 24, 26, 17, 22, 20, 27, 21]
phq_result                [Mild depression, Moderately severe depression, Moderate depression, Minimal depression, Severe depression]
gad7_score                                             [0, 4, 9, 10, 18, 17, 1, 2, 11, 5, 13, 14, 6, 7, 12, 3, 21, 20, 8, 15, 16, 19]
gad7_result                                                         [minimal anxiety, mild anxiety, moderate anxiety, severe anxiety]
hopeless                                            [Never, 1-2 times, 7-8 times, 9-10 times, 11 or more times, 3-4 times, 5-6 times]
overwhelmed                                         [11 or more times, 5-6 times, 9-10 times, 3-4 times, 7-8 times, 1-2 times, Never]
exhausted                                           [5-6 times, 7-8 times, 11 or more times, 9-10 times, 3-4 times, 1-2 times, Never]
sad                                                 [3-4 times, 1-2 times, 9-10 times, 11 or more times, 5-6 times, Never, 7-8 times]
rly_sad                                             [Never, 1-2 times, 3-4 times, 5-6 times, 11 or more times, 7-8 times, 9-10 times]
considered                                          [Never, 1-2 times, 3-4 times, 7-8 times, 11 or more times, 5-6 times, 9-10 times]
attempted                                                                  [Never, 1-2 times, 5-6 times, 11 or more times, 7-8 times]
depression_diagnosis                                                                                                        [No, Yes]
therapy                                                                                                                     [No, Yes]
depression_medication                                                                                                       [No, Yes]
acha_12months_any_comp                                                                     [2, 0, 5, 3, 4, 6, 1, 7, 10, 9, 8, 28, 11]
sex                                                                                                                    [Female, Male]
student                                                                                                                     [Yes, No]
race_1                                                                                                                         [0, 1]
race_2                                                                                                                         [0, 1]
race_3                                                                                                                         [0, 1]
race_4                                                                                                                         [1, 0]
race_5                                                                                                                         [0, 1]
race_6                                                                                                                         [0, 1]
dtype: object

In [39]:
sm_df_cleaned.apply(lambda col: col.unique())

have_sns                                                                                                                                                                 [Yes]
usual_sns                                                                                        [Facebook, Twitter, Instagram, WhatsApp, Snapchat, imo, Imo, WeChat, Tiktok ]
sns_device                                                                                                                             [Mobile Phone, Tablet, Desktop, Laptop]
internet                                                                                                                                      [Broadband (Wi-Fi), Mobile data]
sns_use_length                                                                                                   [5-10 years, Less than 2-year, 2-5 years, More than 10 years]
post_freq                                                                                                 [Less than 1 per day, 3-5 per day, More than 5 per day, 1-2 per day]
sns_use_daily                                                                                                      [1-3 hours, More than 5 hours, 3-5 hours, Less than 1 hour]
sns_use_case                                                                                         [Frequently at anytime, Night to late night, Evening, Afternoon, Morning]
sns_friends                                                                                                               [Less than 500, 500-2000, 2000-4000, More than 4000]
sns_personal                                                                                                            [All of them, Most of them, Many of them, Few of them]
sns_tags                                                                                                                              [Less than 5, More than 20, 10-20, 5-10]
sns_content                                               [To stay connected with people, For time pass, To make new friends, Running business, To get recent update and news]
sns_good                                                                                                                                                             [Yes, No]
sns_believe                                                                                                                                                          [No, Yes]
peer_pressure                                                                                                                                                        [No, Yes]
sns_influence                                                                                                                                  [Sometimes, Not at all, Always]
sns_wellbeing                                                                                                                                                        [No, Yes]
age               [26.0, 24.0, 23.0, 27.0, 19.0, 25.0, 20.0, 30.0, 34.0, 28.0, 22.0, 40.0, 35.0, 21.0, 39.0, 33.0, 32.0, 42.0, 48.0, 38.0, 44.0, 31.0, 36.0, 49.0, 37.0, 43.0]
sex                                                                                                                                                             [Female, Male]
dtype: object

## SQL Preparations

In [70]:
def sql_preprocessing(df, id_col='unique_id'):
    """
    preprocesses the data frame by creating a unique identifier column with sequential numbers, 
    converting 'age' to numeric and 'sex' to string, and
    reordering columns so that the unique identifier, 'age', and 'sex' appear first.
    """
    # Create a unique identifier column
    df = df.reset_index(drop=True)
    df[id_col] = df.index + 1

    # Ensure consistent data types for the keys
    df['age'] = pd.to_numeric(df['age'], errors='coerce')
    df['sex'] = df['sex'].astype(str)
    
    # Reorder the columns with unique_id, age, and sex first
    ordered_cols = [id_col, 'age', 'sex'] + [col for col in df.columns if col not in [id_col, 'age', 'sex']]
    df = df[ordered_cols]
    
    return df

sm_df_cleaned = sql_preprocessing(sm_df_cleaned)
mh_df_cleaned = sql_preprocessing(mh_df_cleaned)

In [56]:
sm_df_cleaned.head()

,unique_id,age,sex,have_sns,usual_sns,sns_device,internet,sns_use_length,post_freq,sns_use_daily,sns_use_case,sns_friends,sns_personal,sns_tags,sns_content,sns_good,sns_believe,peer_pressure,sns_influence,sns_wellbeing
0,1,26.0,Female,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,Less than 1 per day,1-3 hours,Frequently at anytime,Less than 500,All of them,Less than 5,To stay connected with people,Yes,No,No,Sometimes,No
1,2,24.0,Female,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,3-5 per day,More than 5 hours,Frequently at anytime,500-2000,All of them,More than 20,To stay connected with people,Yes,No,No,Sometimes,Yes
2,3,23.0,Female,Yes,Twitter,Mobile Phone,Broadband (Wi-Fi),Less than 2-year,More than 5 per day,More than 5 hours,Night to late night,2000-4000,Most of them,10-20,For time pass,Yes,Yes,Yes,Sometimes,Yes
3,4,27.0,Female,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),5-10 years,Less than 1 per day,1-3 hours,Frequently at anytime,500-2000,Most of them,More than 20,For time pass,Yes,No,Yes,Sometimes,No
4,5,19.0,Male,Yes,Facebook,Mobile Phone,Broadband (Wi-Fi),2-5 years,Less than 1 per day,3-5 hours,Night to late night,500-2000,Many of them,More than 20,To make new friends,Yes,Yes,No,Not at all,No

In [57]:
mh_df_cleaned.head()

,unique_id,age,sex,general_health,phq_score,phq_result,gad7_score,gad7_result,hopeless,overwhelmed,...,therapy,depression_medication,acha_12months_any_comp,student,race_1,race_2,race_3,race_4,race_5,race_6
0,1,22,Female,Very Good,6,Mild depression,0,minimal anxiety,Never,11 or more times,...,No,No,2,Yes,0,0,0,1,0,0
1,2,21,Female,Good,19,Moderately severe depression,4,minimal anxiety,1-2 times,5-6 times,...,No,No,0,Yes,0,0,0,1,0,0
2,3,23,Female,Good,10,Moderate depression,9,mild anxiety,7-8 times,11 or more times,...,No,No,2,Yes,0,0,1,1,0,0
3,4,24,Female,Good,11,Moderate depression,10,moderate anxiety,9-10 times,9-10 times,...,No,No,2,Yes,1,0,0,0,0,0
4,5,22,Female,Very Good,6,Mild depression,18,severe anxiety,7-8 times,3-4 times,...,No,No,5,Yes,1,0,0,0,0,0

In [63]:
# Retrieving unique combinations of age and sex in both data frames (to be used as PKs for parent table)
unique_sm = sm_df_cleaned[['age', 'sex']].drop_duplicates().dropna()
unique_mh = mh_df_cleaned[['age', 'sex']].drop_duplicates().dropna()
parent_df = unique_sm.merge(unique_mh, on=['age', 'sex'], how='inner')

parent_df.head()

    age     sex
0  26.0  Female
1  24.0  Female
2  23.0  Female
3  27.0  Female
4  19.0    Male

In [82]:
# Defining functions to map our Python dataframes to Oracle
# CREATE TABLE
# Generates the create table statement from the data frame, including constraints
def generate_create_table_statement(df, table_name, primary_keys=None, 
                                    foreign_keys=None, not_null_columns=None,
                                    unique_constraints=None, check_constraints=None):
    columns_defs = []
    for col in df.columns:
        dtype = df[col].dtype
        oracle_type = map_dtype_to_oracle(dtype, df[col])
        col_def = f"{col} {oracle_type}"
        if not_null_columns and col in not_null_columns:
            col_def += " NOT NULL"
        columns_defs.append(col_def)
    
    create_stmt = f"CREATE TABLE {table_name} (\n    " + ",\n    ".join(columns_defs)
    # Key constraints (PK, FK, Unique)
    if primary_keys:
        pk = ", ".join(primary_keys)
        create_stmt += f",\n    PRIMARY KEY ({pk})"
    if unique_constraints:
        for uc in unique_constraints:
            uc_str = ", ".join(uc)
            create_stmt += f",\n    UNIQUE ({uc_str})"
    if foreign_keys:
        for fk in foreign_keys:
            child_cols, ref_table, parent_cols = fk
            fk_cols_str = ", ".join(child_cols)
            parent_cols_str = ", ".join(parent_cols)
            create_stmt += f",\n    FOREIGN KEY ({fk_cols_str}) REFERENCES {ref_table} ({parent_cols_str})"
    
    create_stmt += "\n);"
    return create_stmt
    
# Maps a pandas data type to its corresponding Oracle SQL type
def map_dtype_to_oracle(dtype, col_data):
    """
    mapping the data frame data types to Oracle equivalents
    """
    if pd.api.types.is_integer_dtype(dtype):
        return "NUMBER"
    elif pd.api.types.is_float_dtype(dtype):
        return "NUMBER"
    elif pd.api.types.is_object_dtype(dtype):
        max_len = col_data.astype(str).map(len).max()
        max_len = max(max_len, 1)
        return f"VARCHAR2({max_len})"
    else:
        return "VARCHAR2(255)"

In [83]:
# INSERT INTO
# Generate the insert statements for every row
def generate_insert_statements(df, table_name):
    inserts = []
    columns = df.columns.tolist()
    for idx, row in df.iterrows():
        values = [format_value_for_sql(row[col]) for col in columns]
        col_list = ", ".join(columns)
        val_list = ", ".join(values)
        insert_stmt = f"INSERT INTO {table_name} ({col_list}) VALUES ({val_list});"
        inserts.append(insert_stmt)
    return inserts
    
# Formats the individual instance to ensure it can be mapped
def format_value_for_sql(value):
    if pd.isna(value):
        return "NULL"
    if isinstance(value, (int, float)):
        return str(value)
    value = str(value).replace("'", "''")
    return f"'{value}'"

In [84]:
# Defining variables and executing the functions to map the dataframes to Oracle

# Define table names
parent_table_name = "parent_table"
social_media_table_name = "social_media_table"
mental_health_table_name = "mental_health_table"
# Define primary keys
parent_pk = ['age', 'sex']  
social_media_pk = ['unique_id']
mental_health_pk = ['unique_id']
parent_not_null = ['age', 'sex']
child_not_null = ['unique_id', 'age', 'sex']
child_fk = [ (["age", "sex"], parent_table_name, ["age", "sex"]) ]
social_media_unique = [['unique_id']]
mental_health_unique = [['unique_id']]

# Executing create table function
parent_create_sql = generate_create_table_statement(
    parent_df, parent_table_name, 
    primary_keys=parent_pk, 
    not_null_columns=parent_not_null,
)
social_media_create_sql = generate_create_table_statement(
    sm_df_cleaned, social_media_table_name, 
    primary_keys=social_media_pk, 
    foreign_keys=child_fk, 
    not_null_columns=child_not_null,
    unique_constraints=social_media_unique,
)
mental_health_create_sql = generate_create_table_statement(
    mh_df_cleaned, mental_health_table_name, 
    primary_keys=mental_health_pk, 
    foreign_keys=child_fk, 
    not_null_columns=child_not_null,
    unique_constraints=mental_health_unique,
)

# Executing insert into function
parent_inserts = generate_insert_statements(parent_df, parent_table_name)
social_media_inserts = generate_insert_statements(sm_df_cleaned, social_media_table_name)
mental_health_inserts = generate_insert_statements(mh_df_cleaned, mental_health_table_name)

In [85]:
# Write everything to a SQL file

with open("sm_mh_schema.sql", "w") as f:
    f.write("-- Parent Table\n")
    f.write(parent_create_sql + "\n\n")
    for stmt in parent_inserts:
        f.write(stmt + "\n")
    
    f.write("\n-- Social Media Table\n")
    f.write(social_media_create_sql + "\n\n")
    for stmt in social_media_inserts:
        f.write(stmt + "\n")
    
    f.write("\n-- Mental Health Table\n")
    f.write(mental_health_create_sql + "\n\n")
    for stmt in mental_health_inserts:
        f.write(stmt + "\n")

print("sql schema file created successfully.")

sql schema file created successfully.